@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import './assets/scss/custom.scss';

@import 'bootstrap';

// 8. Add additional custom code here
body,
html,
#root {
  min-height: 100vh;
}

.main-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chrome-picker {
  input {
    background-color: #fff;
  }
}
