.projects {
  .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: all 0.25s ease;
    height: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }
}
